.navigation-menu-ul {
  list-style-type: none;
}



.navigation-menu-ul-li {
  text-decoration: none;
  text-align: center;
}
.navigation-menu-ul-li__home {
  position: fixed;
  top: 10px;
  text-align: center;
}